@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: dodgerblue;
}

.wrapper {
    margin: 0 auto;
    background-color: #ffffff;
    height: 50px;
    padding: 0;

}

.feed-noneneed {
    float: left;
    width: 25%;
    background-color: dodgerblue;
    height: 100vh;

}

.feed-wrapper {
    float: left;
    width: 50%;
    background-color: white;
    height: 100vh;
}

.feed-container {

    width: 100%;
}

.mid-wrapper {
    margin: 0 auto;


}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;


}

header img.logo {
    padding: 5px;
    width: 40px;
    height: 40px;
}

header img.profile {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;


}

.search-container {
    border: #dcdcdc;
    border: 1px;


}

.search-container input[type=text] {
    padding: 2px;
    margin-top: 5px;
    font-size: 20px;
    width: 400px;
    height: 40px;
}

.search-container button {
    margin-top: 5px;
    font-size: 15px;
    float: right;
    border: none;
    background: #4169e1;
    color: #ffffff;
    padding: 4px;
    width: 100px;
    height: 40px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;


}


